.travel {
    @extend %full-size;

    .train {
        background: url(../assets/images/train.png);
        background-size: contain;
        background-repeat: no-repeat;
        position: fixed;
        bottom: 0;
        margin: 0;
        padding: 0;
        height: 288px;
        width: 75px;
    }
}