<div class="travel">
    <div class="universes">
        <div class="universe gnor">
            <img src="../assets/images/universes/gnor/background.jpg" alt="" class="background">
            <img src="../assets/images/universes/gnor/cloud.png" alt="" class="cloud right">
            <img src="../assets/images/universes/gnor/middleground-1.png" alt="" class="middleground">
            <img src="../assets/images/universes/gnor/cloud.png" alt="" class="cloud left">
            <img src="../assets/images/universes/gnor/middleground-2.png" alt="" class="middleground">
            <img src="../assets/images/universes/gnor/middleground-3.png" alt="" class="middleground">
            <img src="../assets/images/universes/gnor/foreground.png" alt="" class="foreground">
        </div>
        <div class="universe lyo1">
            <img src="../assets/images/universes/lyo1/background.jpg" alt="" class="background">
            <img src="../assets/images/universes/lyo1/middleground.png" alt="" class="middleground">
            <img src="../assets/images/universes/lyo1/foreground.png" alt="" class="foreground">
        </div>
        <div class="universe crtp">
            <img src="../assets/images/universes/crtp/background.jpg" alt="" class="background">
            <img src="../assets/images/universes/crtp/middleground.png" alt="" class="middleground">
            <img src="../assets/images/universes/crtp/foreground.png" alt="" class="foreground">
        </div>
    </div>
</div>