<div class="travel">
    <div v-component="travel-section" v-with="section" v-repeat="section : sections"></div>


    <div class="footer">
        <div class="train"></div>
        <div class="menu" v-class="closed: !menuOpen">
            <div class="arrow">
                <div class="cross"></div>
            </div>
            <div class="content">
                <a href="/itinerary">retour</a><br>
                Votre itinéraire : de <i>Gare de départ</i> à <i>Gare d'arrivée</i>.
            </div>
        </div>
    </div>
</div>