<div class="travel">
    <div class="main">

        <div class="end">
            <div class="content">
                Nous travaillons chaque jours à <span class="regular">améliorer votre quotidien.</span> Faites part de cette aventure <span class="regular">en évitant</span>, si vous le pouvez, <span class="regular">les heures de pointes.</span>
            </div>
        </div>
        <div class="universes">
            <!-- Universe at top -->
            <div class="universe gnor">
                <img src="../assets/images/universes/gnor/background.jpg" class="background">
                <img src="../assets/images/universes/gnor/cloud.png" class="cloud right">
                <img src="../assets/images/universes/gnor/middleground-1.png" class="middleground">
                <img src="../assets/images/universes/gnor/cloud.png" class="cloud left">
                <img src="../assets/images/universes/gnor/middleground-2.png" class="middleground">
                <img src="../assets/images/universes/gnor/middleground-3.png" class="middleground">
                <img src="../assets/images/universes/gnor/foreground.png" class="foreground">
            </div>
            <div class="universe lyo1">
                <img src="../assets/images/universes/lyo1/background.jpg" class="background">
                <img src="../assets/images/universes/lyo1/middleground.png" class="middleground">
                <img src="../assets/images/universes/lyo1/foreground.png" class="foreground">
            </div>
            <!-- Universe at bottom -->
            <div class="universe crtp">
                <img src="../assets/images/universes/crtp/background.jpg" class="background">
                <img src="../assets/images/universes/crtp/middleground.png" id="robber" class="middleground">
                <img src="../assets/images/universes/crtp/foreground.png" class="foreground">
            </div>
            <!-- Railway line and train -->
            <div class="railway" v-svg='../assets/images/universes/line.svg'></div>
            <!-- Transitions between universes -->
            <div class="transition crtp-lyo1" v-svg="../assets/images/universes/transition/rock.svg"></div>
            <div class="transition lyo1-gnor">
                <img src="../assets/images/universes/transition/cloud-right.png" class="cloud right">
                <img src="../assets/images/universes/transition/cloud-left.png" class="cloud left">
            </div>
            <div class="transition gnor-end">
                <img src="../assets/images/universes/transition/cloud-right.png" class="cloud right">
                <img src="../assets/images/universes/transition/cloud-left.png" class="cloud left">
            </div>
        </div>
        <!-- Texts -->
        <div v-repeat="texts" id="text-{{$index}}" v-component="travel-text" v-cloak v-with="text"></div>
    </div>
    <div class="loader">
        loading data ...
    </div>
</div>