<div class="itinerary">
    <h2>Pour commencer, rentrez votre itinéraire</h2>
    <div>
        <br>
        Gare de départ : <input type="text" placeholder="depart" name="start"><br>
        Gare d'arrivée : <input type="text" placeholder="arrivée" name="finish"><br>
        Heure :
        <select name="hour">
            <option value="0">Heure</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">13</option>
            <option value="14">14</option>
            <option value="15">15</option>
            <option value="16">16</option>
            <option value="17">17</option>
            <option value="18">18</option>
            <option value="19">19</option>
            <option value="20">20</option>
            <option value="21">21</option>
            <option value="22">22</option>
            <option value="23">23</option>
            <option value="24">24</option>
        </select>
        <br><br><br>
        <a href="/travel">En voiture!</a>
    </div>
</div>