<div class="home">
    <div class="cloud-container">
        <img src="../assets/images/home/cloud-left.png" class="cloud left">
        <img src="../assets/images/home/cloud-right.png" class="cloud right">
    </div>
    <div class="ground"></div>

    <div class="content">
        <img src="../assets/images/logo-transilien.png" alt="SNCF Transilien">
        <h1>voyageons ensemble</h1>

        <a href="/travel">
            <svg width="170" height="48" version="1.1" xmlns="http://www.w3.org/2000/svg">
                <polygon points="0,0 35,0 70,48 0,48"/>
            </svg>
            <svg width="170" height="48" version="1.1" xmlns="http://www.w3.org/2000/svg">
                <polygon points="0,0 70,0 70,48 35,48"/>
            </svg>
            <div class="button">
                découvrir
            </div>
        </a>
    </div>
</div>